
        <button class="navbar-toggler bg-light" id="btnMenuDrop" onclick="menuDropVisivel()" type="button"
            data-toggle="collapse" data-target="#divDropdown" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  " id="divDropdown">
            <ul class="navbar-nav menuDrop mr-auto" id="menuDropdown" style="display:none">
                <div class="row">

                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">GERTEC</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">RH</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">FINANCEIRO</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">TI</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">QUALIDADE</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">COMPRAS</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">LOGÍSTICA</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">MARKETING</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">FISCAL</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">JURÍDICO</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">POLÍTICAS</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">RESERVAR AUDITÓRIO</a>
                    </li>
                    <li class="nav-item col-4 col-sm-3">
                        <a class="nav-link" href="#">GUIA ZOOM</a>
                    </li>

                </div>
            </ul>
        </div>
