
        <div class="collapse navbar-collapse pb-0" id="menuPrincipal" >
            <ul class="navbar-nav menuTopo d-flex justify-content-center">
                <div class="row">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarGertec" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            GERTEC
                        </a>
                        <div class="dropdown-menu  " aria-labelledby="navbarGertec">
                            <a class="dropdown-item  " href="/missao">Missão, Visão e Valores </a>
                            <a class="dropdown-item  " href="/bolsavalor">Ativos da Bolsa </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarRH" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            RH
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarRH">
                            <a class="dropdown-item" href="#">Missão</a>
                            <a class="dropdown-item" href="#">Normas e Procedimentos</a>
                            <a class="dropdown-item" href="#">Book de Benefícios</a>
                            <a class="dropdown-item" href="#">Cardápio Fábrica</a>
                            <a class="dropdown-item" href="#">Covid - 19</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarFin" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            FINANCEIRO
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarFin">
                            <a class="dropdown-item" href="#">Política de Despesas</a>
                            <a class="dropdown-item" href="#">Formulários</a>
                            <a class="dropdown-item" href="#">Dólar</a>
                            <a class="dropdown-item" href="#">Dólar Médio</a>
                            <a class="dropdown-item" href="#">Dólar BCB</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarTI" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            TI
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarTI">
                            <a class="dropdown-item" href="#">Manuais</a>
                            <a class="dropdown-item" href="#">TI Informa</a>
                            <a class="dropdown-item" href="#">Help - Protheus</a>
                            <a class="dropdown-item" href="#">Protheus</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarQUA" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            QUALIDADE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarQUA">
                            <a class="dropdown-item" href="#">Documentos</a>
                            <a class="dropdown-item" href="#">Política SGQ</a>
                            <a class="dropdown-item" href="#">Política SGC</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarCOM" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            COMPRAS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarCOM">
                            <a class="dropdown-item" href="#">Prazos - Itens de Consumo</a>
                            <a class="dropdown-item" href="#">Prazos - Insumos</a>
                            <a class="dropdown-item" href="#">Seg. Trabalho - AT</a>
                            <a class="dropdown-item" href="#">Seg. Trabalho - Filial</a>
                            <a class="dropdown-item" href="#">Seg. Trabalho - Matriz</a>
                            <a class="dropdown-item" href="#">Contrato Prestador Serv. - AT</a>
                            <a class="dropdown-item" href="#">Contrato Prestador Serv. - Filial</a>
                            <a class="dropdown-item" href="#">Contrato Prestador Serv. - Matriz</a>
                            <a class="dropdown-item" href="#">Processo de Solic. p/ Compras: Ativo - Cons. e Serv.</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLOG" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            LOGÍSTICA
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarLOG">
                            <a class="dropdown-item" href="#">Malotes - Matriz</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarMKT" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            MARKETING
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarMKT">
                            <a class="dropdown-item" href="#">Apresentação Corporativa</a>
                            <a class="dropdown-item" href="#">Boletim de Produto</a>
                            <a class="dropdown-item" href="#">Catálogos</a>
                            <a class="dropdown-item" href="#">Imagens dos Produtos</a>
                            <a class="dropdown-item" href="#">Marca / Logotipo</a>
                            <a class="dropdown-item" href="#">Papelaria</a>
                            <a class="dropdown-item" href="#">PitStop Informativo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarFIS" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            FISCAL
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarFIS">
                            <a class="dropdown-item" href="#">Procedimentos Gerais</a>
                            <a class="dropdown-item" href="#">Centro de Custo</a>
                            <a class="dropdown-item" href="#">Fiscal Informa</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarJUR" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            JURÍDICO
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarJUR">
                            <a class="dropdown-item" href="#">Documentos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">POLÍTICAS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLOG" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            RESERVAR AUDITÓRIO
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarLOG">
                            <a class="dropdown-item" href="#">Ed. Stanford - SAO</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GUIA ZOOM</a>
                    </li>
                </div>
            </ul>
        </div>
