{{> master_header}}

<div class=" container">
    <div class="row ">

        <div class="card col-12 col-sm-7 col-md-8 ">
            <div class="card-body">
                <h5 class="card-title">Ativos da Bolsa</h5>
                <div class="container">
                    <div class="row ">
                        <form role=form class="form-horizontal" id='formBolsa'>
                            <div class="form-group">
                                <label class=" col-mr-10" for="inputUser">Símbolo</label>
                                <div>
                                    <input type="text" class="form-control" id="inputSimbolo">
                                </div>
                            </div>
                            <div class="col-mr-offset-2 col-mr-10 ">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="card col-12 col-sm-7 col-md-8 ">
            <div class="card-body">
                <h5 class="card-title">Ativos da Bolsa</h5>
                <div class="container" id="card_bolsa_valor">
                    
                </div>
            </div>
        </div>



    </div>
</div>



{{> master_rodape}}