{{> master_header}}

<div class=" container">
    <div class="row card-group">

        <div class="card col-12 col-sm-7 col-md-8 ">
            <div class="card-body">
                <h5 class="card-title">Área pessoal</h5>
                <div class="container">
                    <div class="row ">
                        <form role=form class="form-horizontal" id='formLogin'>
                            <div class="form-group">
                                <label class=" col-mr-10" for="inputUser">Usuário</label>
                                <div >
                                    <input type="text" class="form-control" id="inputUser"
                                        aria-describedby="emailHelp">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  for="exampleInputPassword1">Senha</label>
                                <div class="col-mr-10">
                                    <input type="password" class="form-control" id="exampleInputPassword1"> 
                                </div>
                            </div>
                            <div class="col-mr-offset-2 col-mr-10 ">
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-12 col-sm-5 col-md-4 fundoAzul">
            <div class="card-body">
                <h5 class="card-title">Áreas úteis</h5>               
                    <p class="container centro areasUteis"  >
                        <a href="http://rhportal.gertec:82/">
                            <img src="screenshots/portal-colaborador.png" title="gertec" />
                        </a>
                    </p>
                    <p class="container centro areasUteis ">
                        <a href="https://gertec.umanni.com.br/users/login">
                            <img src="screenshots/umanni.png" title="gertec" /></a>
                    </p>

                    <p class="container centro areasUteis ">
                        <a href="https://clockify.me/timesheet" >
                            <img src="screenshots/clockify-logo.png" title="gertec" />
                        </a>
                    </p>
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="row">
        <div class="card col-12 col-sm-12 col-md-12 " >
            <div class="card-body ">
                <h5 class="card-title">Assinatura para e-mail</h5>             
                    <p >
                        Visando uma padronização nas assinaturas da Gertec, foi criado um formulário para que o próprio usuário possa criar a sua de acordo com o padrão da empresa. 
                        <a href="" class="link"><b  >ACESSAR FORMULÁRIO</b></a>
                    </p>              
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="card col-12 col-sm-12 col-md-12 " >

            <div class="card-body ">
                <h5 class="card-title">Sistemas</h5>
                <div class=" centro" >
                    <div class="row ">
                        <p >
                            <a href=""><img src="screenshots/gerhelp.png" class="icone "  /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/tisuporte.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/gersae.png" class="icone "/></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/gmc.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/pvweb.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/admvendas.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/obbplus.png" class="icone " /></a>
                        </p>
                        <p>
                            <a href=""><img src="screenshots/softexpress.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/UNIFIILH.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/UNIFISAO.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/UNIFIDIA.png" class="icone "  /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/eset.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/ocs.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/madruga.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/cadilac.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/klocsilh.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/klocsdia.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/klocsman.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/gersala.png" class="icone " /></a>
                        </p>
                        <p >
                            <a href=""><img src="screenshots/esd.png" class="icone " /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{{> master_rodape}}