{{> master_header}}

<nav  aria-label="breadcrumb">
  <ol class="breadcrumb arr-right container">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Missão</li>
  </ol>
</nav>

<div class="container ">
    <div class="row">
        <div class="card col-12 col-sm-12 col-md-12 ">
            <div class="card-body ">
                <h5 class="card-title">Visão</h5>
                <p>
                    Ter sustentabilidade no ambiente de negócios no qual a empresa estiver inserida.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card col-12 col-sm-12 col-md-12 ">
            <div class="card-body ">
                <h5 class="card-title">Missão</h5>
                <p>
                    Desenvolver e Comercializar, Produtos, Serviços e Soluções Inovadores, Competitivos e Rentáveis,
                    direcionados a automação, sempre buscando ser a preferência dos clientes.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card col-12 col-sm-12 col-md-12 ">
            <div class="card-body ">
                <h5 class="card-title">Valores</h5>
                <div class="list-group-flush">
                    <div class="list-group-item">
                        <p class="mb-0">Compromisso com o Cliente</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Responsabilidade Legal</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Respeito às Pessoas</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Excelência na Gestão</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Ética</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Inovação</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Lucratividade</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Trabalho em Equipe</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Compromisso Social</p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0">Responsabilidade Ambiental</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> master_rodape}}